<%= form_with(model: masteragent, local: true) do |form| %>
  <% if masteragent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(masteragent.errors.count, "error") %> prohibited this masteragent from being saved:</h2>

      <ul>
      <% masteragent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row"><label class="col-sm-2 col-form-label">Store name</label>
    <div class="col-sm-10">  <%= form.text_field :name, autocomplete: "name", class: 'form-control', placeholder: "Master Agent's store" %></div>
 </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
