<p id="notice"><%= notice %></p>

<h1>Masteragents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masteragents.each do |masteragent| %>
      <tr>
        <td><%= link_to masteragent.name, masteragent_agents_path(masteragent) %></td>
        <td><%= link_to 'Show', masteragent %></td>
        <td><%= link_to 'Edit', edit_masteragent_path(masteragent) %></td>
        <td><%= link_to 'Destroy', masteragent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Masteragent', new_masteragent_path %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Localisation</h2>
        <ol class="breadcrumb">
            <li>
                <strong><a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Tout les Masters</a></strong>
        </li>
        <li>
            <a>Shops</a>
        </li>
        <li class="active">
            <strong>Localisation</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>
<div class="wrapper wrapper-content  animated fadeInRight">

<div class="row">

    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Structure</h5>
            </div>
            <div class="ibox-content">
              <div class="dd" id="nestable2">
                  <ol class="dd-list">
                      <li class="dd-item" data-id="1">
                          <% @masteragents.each do |masteragent| %>
                          <div class="dd-handle">
                              <span class="label label-info"><i class="fa fa-laptop"></i></span> <%= link_to masteragent.name, masteragent_agents_path(masteragent) %>
                              <%= link_to 'Details', masteragent, class:"btn btn-outline btn-success pull-right" %>
                                <div class="pull-right" style="">

                                </div>
                              <%= link_to 'Edit', edit_masteragent_path(masteragent), class: "btn btn-outline btn-warning pull-right" %>
                          </div>
                          <% end %>
                      </li>


                  </ol>
              </div>


cngvn*******Vestibulum commodo
                <div class="dd" id="nestable2">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle">
                                <span class="label label-info"><i class="fa fa-users"></i></span> Cras ornare tristique.
                            </div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 12:00 pm </span>
                                        <span class="label label-info"><i class="fa fa-cog"></i></span> Vivamus vestibulum nulla nec ante.
                                    </div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 11:00 pm </span>
                                        <span class="label label-info"><i class="fa fa-bolt"></i></span> Nunc dignissim risus id metus.
                                    </div>
                                </li>
                                <li class="dd-item" data-id="4">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 11:00 pm </span>
                                        <span class="label label-info"><i class="fa fa-laptop"></i></span> Vestibulum commodo
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="dd-item" data-id="5">
                            <div class="dd-handle">
                                <span class="label label-warning"><i class="fa fa-users"></i></span> Integer vitae libero.
                            </div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="6">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 15:00 pm </span>
                                        <span class="label label-warning"><i class="fa fa-users"></i></span> Nam convallis pellentesque nisl.
                                    </div>
                                </li>
                                <li class="dd-item" data-id="7">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 16:00 pm </span>
                                        <span class="label label-warning"><i class="fa fa-bomb"></i></span> Vivamus molestie gravida turpis
                                    </div>
                                </li>
                                <li class="dd-item" data-id="8">
                                    <div class="dd-handle">
                                        <span class="pull-right"> 21:00 pm </span>
                                        <span class="label label-warning"><i class="fa fa-child"></i></span> Ut aliquam sollicitudin leo.
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>

                <div class="m-t-md">
                    <h5>Serialised Output</h5>
                </div>



            </div>

        </div>
    </div>

<!-------google maps----------------------google maps---------------google maps----------------->
    <div class="col-md-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Custom theme 2</h5>
            </div>
            <div class="ibox-content">
                <div class="google-map" id="map4"></div>
            </div>
        </div>
    </div>
</div>
</div>




<script type="text/javascript">
  var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map4'}}, function(){

  var markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
