<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2><%= link_to 'BT', masteragents_path %></h2>
        <h2>Localisation</h2>
        <ol class="breadcrumb">
          <li>
              <strong><%= link_to 'Tout les Masters', masteragents_path %></strong>
        </li>
          <li>
                <strong><%= link_to @masteragent.name, masteragent_agents_path(@masteragent.id) %></strong>
        </li>
        <li>
            <a><%= link_to @agent.name, masteragent_agent_subagents_path(@agent.masteragent_id ,@agent.id) %></a>
        </li>
        <li>
            <a>Shops</a>
        </li>
        <li class="active">
            <strong>Localisation</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>
<div class="wrapper wrapper-content  animated fadeInRight">

<div class="row">

    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Sous Agents</h5>
            </div>
            <div class="ibox-content">

              <div class="dd" id="nestable2">
                  <ol class="dd-list">
                      <li class="dd-item" data-id="1">
                          <div class="dd-handle">
                              <span class="label label-info"><i class="fa fa-laptop"></i></span> <%= @masteragent.name %>
                          </div>
                          <ol class="dd-list">
                              <li class="dd-item" data-id="2">
                                  <div class="dd-handle">
                                      <span class="label label-info"><i class="fa fa-users"></i></span> <%= @agent.name %>
                                  </div>
                                  <ol class="dd-list">
                                      <li class="dd-item" data-id="1">
                                          <% @subagents.each do |subagents| %>
                                          <div class="dd-handle">
                                              <span class="label label-info"><i class="fa fa-bullseye"></i></span> <%= link_to subagents.name, masteragent_agent_subagent_shops_path(@masteragent, @agent, subagents) %>
                                              <%= link_to 'Details',  masteragent_agent_subagent_path(@masteragent, @agent, subagents), class:"btn btn-outline btn-success pull-right" %>

                                              <%= link_to 'Edit', edit_masteragent_agent_subagent_path(@masteragent, @agent, subagents), class: "btn btn-outline btn-warning pull-right" %>
                                              <%= link_to 'Account', new_user_session_path(subagents.id), class: "btn btn-outline btn-primary pull-right" %>
                                          </div>
                                          <% end %>
                                      </li>
                                    <ol>
                              </li>
                          </ol>
                      </li>
                  </ol>
              </div>

              <div class="m-t-md">
                    <%= link_to 'Ajouter Sous Agent', new_masteragent_agent_subagent_path, class: "btn btn-block btn-outline btn-primary" %>
                </div>



            </div>

        </div>
    </div>

<!-------google maps----------------------google maps---------------google maps----------------->
    <div class="col-md-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Geolocations</h5>
            </div>
            <div class="ibox-content">
                <div class="google-map" id="map4"></div>
            </div>
        </div>
    </div>
</div>
</div>




<script type="text/javascript">
  var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map4'}}, function(){

  var markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
